div(class="relative bottom-0 w-full")
  div(class="mt-20 lg:mt-8 pb-21 max-w-screen-xl mx-auto px-5 xl:px-0 relative overflow-hidden")
    div(class="lines-img hidden lg:block absolute top-0 lg:right-0 px-8 xl:px-0")
      <svg width="303" height="212" viewBox="0 0 303 212" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_54_36" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="-92" width="303" height="304">
          <rect y="-92" width="303" height="304" fill="black" class="dark:fill-current"/>
        </mask>
        <g mask="url(#mask0_54_36)">
        <line y1="-1" x2="181.162" y2="-1" transform="matrix(-0.705941 0.708271 -0.705941 -0.708271 120.019 -97.9219)" class="stroke-current" stroke="black" stroke-width="2"/>
        <line y1="-1" x2="245.265" y2="-1" transform="matrix(-0.705941 0.708271 -0.705941 -0.708271 169.208 -97.9219)" class="stroke-current" stroke="black" stroke-width="2"/>
        <line y1="-1" x2="323.304" y2="-1" transform="matrix(-0.705941 0.708271 -0.705941 -0.708271 218.396 -97.9219)" class="stroke-current" stroke="black" stroke-width="2"/>
        <line y1="-1" x2="392.982" y2="-1" transform="matrix(-0.705941 0.708271 -0.705941 -0.708271 267.584 -97.9219)" class="stroke-current" stroke="black" stroke-width="2"/>
        <line y1="-1" x2="451.511" y2="-1" transform="matrix(-0.705941 0.708271 -0.705941 -0.708271 316.773 -97.9219)" class="stroke-current" stroke="black" stroke-width="2"/>
        <line y1="-1" x2="370.685" y2="-1" transform="matrix(-0.705941 0.708271 -0.705941 -0.708271 308.903 -40.6748)" class="stroke-current" stroke="black" stroke-width="2"/>
        <line y1="-1" x2="284.285" y2="-1" transform="matrix(-0.705941 0.708271 -0.705941 -0.708271 301.032 16.5713)" class="stroke-current" stroke="black" stroke-width="2"/>
        <line y1="-1" x2="222.969" y2="-1" transform="matrix(-0.705941 0.708271 -0.705941 -0.708271 308.903 58.0259)" class="stroke-current" stroke="black" stroke-width="2"/>
        <line y1="-1" x2="181.162" y2="-1" transform="matrix(-0.705941 0.708271 -0.705941 -0.708271 318.74 97.5068)" class="stroke-current" stroke="black" stroke-width="2"/>
        <line y1="-1" x2="170.014" y2="-1" transform="matrix(-0.705941 0.708271 -0.705941 -0.708271 346.286 119.221)" class="stroke-current" stroke="black" stroke-width="2"/>
        </g>
      </svg>
    div(class="text-sm md:text-lg")
      ul(class="flex")
        li(class="")
          a(href="#") email
            span(class="mx-4") /
        li(class="")
          a(href="#") linkedin
            span(class="mx-4") /
        li
          a(href="#") instagram

