div(class="relative bottom-0 w-full")
  div(class="mt-20 lg:mt-8 pb-21 max-w-screen-xl mx-auto px-5 xl:px-0 relative overflow-hidden")
    div(class="lines-img hidden lg:block absolute top-0 lg:right-0 px-8 xl:px-0")
      img(src="/assets/lines.svg" alt="Lines")
    div(class="text-sm md:text-lg")
      ul(class="flex")
        li(class="")
          a(href="#") email
            span(class="mx-4") /
        li(class="")
          a(href="#") linkedin
            span(class="mx-4") /
        li
          a(href="#") instagram

