block variables 

header
  div(class="header pt-5 md:pt-21 max-w-screen-xl relative mx-auto w-full px-8 xl:px-0")
    div(class="lines-img hidden lg:block absolute top-0 xl:bottom-0 md:-right-10 lg:right-0 px-8 xl:px-0")
      img(src="/assets/lines.svg" alt="Lines")
    div(class="text-sm sm:text-lg tracking-wider h-full")
      ul(class="nav-items h-full flex flex-wrap flex-col sm:justify-start md:flex-row text-gray-500")

        - var nav = ['projects', 'about', 'gallery', 'recommended']
        - var activeHome = slug === 'home' ? 'active' : ''

        li(class=`hover:text-black transition-colors ${activeHome}`)
          a(href="/") ~/home 
        each item in nav
          - var active = item === slug ? 'active' : ''
          li(class=`hover:text-black transition-colors ${active}`)
            a(href=`/${item}`) ~/#{item}

