header
  div(class="pt-24 max-w-screen-xl mx-auto w-full px-8 xl:px-0")
    .flex.relative
      .transform.-rotate-90.origin-left.absolute.mt-28
        .text-3xl.flex.items-center
          span(class="w-8 h-0.5 bg-black block mr-4")
          a(href="/home") home
      .text-xl.uppercase.ml-16
        ul
          li
            a(href="/").mr-8 projekte
            a(href="/") about
