block variables

doctype html
html(lang="en" class="dark:bg-black")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    base(href="/")

    title Ricky personal website

    link(rel="preload" href="/main.css" as="style" onload="this.onload = function () {}; this.rel = 'stylesheet';")
    noscript
      link(rel="stylesheet" href="/main.css")

  body(data-barba="wrapper" class="dark:bg-black dark:text-white")
    include shared/navigation.pug

    .content(data-barba="container" data-barba-namespace=slug)
      block body

    script(async src="/main.js")
