extends ../base.pug

block variables
  - var slug = "gallery"

block body 
  div(class="max-w-screen-xl mx-auto w-full relative px-8 xl:px-0")

    - var title = 'Gallery'
    include ../shared/headline

    div(class="my-20 lg:my-52 flex flex-col")
      div(class="gallery flex flex-wrap justify-between")
        div(class="w-full sm:w-1/2 pb-12 sm:pb-0 sm:px-2 sm:self-start")
          img(src="/assets/foto-1.jpg" alt="Foto 1")
        div(class="w-full sm:w-1/2 pb-12 sm:pb-0 sm:px-2 sm:self-start")
          img(src="/assets/foto-2.jpg" alt="Foto 1")

        div(class="w-full sm:w-1/2 pb-12 sm:pb-0 sm:px-2 sm:self-start")
          img(src="/assets/foto-2.jpg" alt="Foto 1")
        div(class="w-full sm:w-1/2 pb-12 sm:pb-0 sm:px-2 sm:self-start")
          img(src="/assets/foto-3.jpg" alt="Foto 1")

        div(class="w-full sm:w-1/2 pb-12 sm:pb-0 sm:px-2 sm:self-start")
          img(src="/assets/foto-4.jpg" alt="Foto 1")
        div(class="w-full sm:w-1/2 pb-12 sm:pb-0 sm:px-2 sm:self-start")
          img(src="/assets/foto-1.jpg" alt="Foto 1")

