extends ../base.pug

block variables
  - var slug = "gallery"

block body 
  div(class="max-w-screen-xl mx-auto w-full relative px-5 xl:px-0")

    - var title = 'Gallery'
    include ../shared/headline

  div(class="mt-9 md:mt-40 pb-20 md:pb-40 max-w-screen-xl mx-auto w-full relative px-5 xl:px-0")
    div(class="flex flex-col")
      div(class="gallery flex flex-wrap justify-between")

        div(class="w-full sm:w-1/2 pb-5 sm:pb-0 sm:px-2 sm:self-start")
          div(class="aspect-w-4 aspect-h-5")
            img(src="/assets/gallery/hailey02.jpg" width="624" height="780" alt="Dog sitting on the street" class="object-center object-cover")
        div(class="w-full sm:w-1/2 pb-5 sm:pb-0 sm:px-2 sm:self-start")
          div(class="aspect-w-4 aspect-h-5")
            img(src="/assets/gallery/basketball.jpg" width="624" height="780" alt="Man playing basketball" class="object-center object-cover")

        div(class="w-full sm:w-1/2 pb-5 sm:pb-0 sm:px-2 sm:self-start")
          div(class="aspect-w-4 aspect-h-5")
            img(src="/assets/gallery/tiger01.jpg" width="624" height="780" alt="tiger close up face" class="object-center object-cover")
        div(class="w-full sm:w-1/2 pb-5 sm:pb-0 sm:px-2 sm:self-start")
          div(class="aspect-w-4 aspect-h-5")
            img(src="/assets/gallery/tiger_white01.jpg" width="624" height="780" alt="white tiger looking at you" class="object-center object-cover")

        div(class="w-full pb-5 sm:pb-0 sm:px-2 sm:self-start")
          div(class="aspect-w-16 aspect-h-9")
            img(src="/assets/gallery/istanbul02.jpg" width="1264" height="813" alt="Buildings" class="object-center object-cover")

        div(class="w-full sm:w-1/2 pb-5 sm:pb-0 sm:px-2 sm:self-start")
          div(class="aspect-w-4 aspect-h-5")
            img(src="/assets/gallery/istanbul01.jpg" width="624" height="780" alt="Mosque" class="object-center object-cover")
        div(class="w-full sm:w-1/2 pb-5 sm:pb-0 sm:px-2 sm:self-start")
          div(class="aspect-w-4 aspect-h-5")
            img(src="/assets/gallery/hailey01.jpg" width="624" height="780" alt="Close up dog face" class="object-center object-cover")

        div(class="w-full sm:w-1/2 pb-5 sm:pb-0 sm:px-2 sm:self-start")
          div(class="aspect-w-4 aspect-h-5")
            img(src="/assets/gallery/me_with_dog.jpg" width="624" height="780" alt="Me with dog" class="object-center object-cover")
        div(class="w-full sm:w-1/2 pb-5 sm:pb-0 sm:px-2 sm:self-start")
          div(class="aspect-w-4 aspect-h-5")
            img(src="/assets/gallery/moon-1.jpg" width="624" height="780" alt="Moon shot" class="object-center object-cover")

        div(class="w-full pb-5 sm:pb-0 sm:px-2 sm:self-start")
          div(class="aspect-w-16 aspect-h-9")
            img(src="/assets/gallery/dog_1.jpg" width="1264" height="813" alt="Picture of sitting dog" class="object-center object-cover")

        div(class="w-full sm:w-1/2 pb-5 sm:pb-0 sm:px-2 sm:self-start")
          div(class="aspect-w-5 aspect-h-4")
            img(src="/assets/gallery/train-1.jpg" width="624" height="499" alt="Me with dog" class="object-center object-cover")
        div(class="w-full sm:w-1/2 pb-5 sm:pb-0 sm:px-2 sm:self-start")
          div(class="aspect-w-5 aspect-h-4")
            img(src="/assets/gallery/roses.jpg" width="624" height="499" alt="Moon shot" class="object-center object-cover")

        div(class="w-full pb-5 sm:pb-0 sm:px-2 sm:self-start")
          div(class="aspect-w-16 aspect-h-9")
            img(src="/assets/gallery/bus-1.jpg" width="1264" height="813" alt="Picture of sitting dog" class="object-center object-cover")

        div(class="w-full pb-5 sm:pb-0 sm:px-2 sm:self-start")
          div(class="aspect-w-16 aspect-h-9")
            img(src="/assets/gallery/building-1.jpg" width="1264" height="813" alt="Picture of sitting dog" class="object-center object-cover")

        div(class="w-full sm:w-1/2 pb-5 sm:pb-0 sm:px-2 sm:self-start")
          div(class="aspect-w-4 aspect-h-5")
            img(src="/assets/gallery/me_photographing.jpg" width="624" height="780" alt="Me with dog" class="object-center object-cover")
        div(class="w-full sm:w-1/2 pb-5 sm:pb-0 sm:px-2 sm:self-start")
          div(class="aspect-w-4 aspect-h-5")
            img(src="/assets/gallery/me-dog-2.jpg" width="624" height="780" alt="Moon shot" class="object-center object-cover")

  include ../shared/footer
