extends ../base.pug

block variables
  - var slug = "gallery"

block body 
  div(class="max-w-screen-xl mx-auto w-full relative px-8 xl:px-0")

    - var title = 'Gallery'
    include ../shared/headline


