extends ../base.pug

block variables
  - var slug = "home"

block body 
  div(class="max-w-screen-xl mx-auto w-full relative px-5 xl:px-0")
    div(class="mt-9 xl:mt-5")
      h1(class="js-headline font-serif leading-tight text-11.5 xs:text-13.8 sm:text-7xl md:text-8xl lg:text-9xl") <span class="line">Developer</span> <span>based</span><br> <span>in</span> <span class="line text-red">switzerland</span>

    div(class="flex flex-col lg:flex-row justify-between mt-9 lg:mt-30 mb-32")
      div(class="")
        img(src="/assets/solothurn.jpg" alt="Solothurn")
      div(class="lg:max-w-2-col sm:text-lg mt-9 lg:mt-0 lg:pl-16 xl:pl-0")
        p Web Engineer / Software Engineer
        p(class="intro-text mt-9 lg:mt-19.25") Hi, I'm ricky. A self thought engineer from sitzerland. This is my personal website. The content is full of ideas and experiences.

  include ../shared/footer
