extends ../base.pug

block variables
  - var slug = "home"

block body 
  main(class="max-w-screen-xl mx-auto w-full relative px-8 xl:px-0")
    div(class="mt-32 lg:mt-44 ml-8 sm:ml-16 lg:ml-32")
      h1(class="text-6xl sm:text-7xl md:text-8xl lg:text-9xl") Developer based <br> in switzerland
      div(class="flex justify-end mt-20 lg:mt-48")
        p.intro-text.text-lg Hi, I'm ricky. A self thought engineer from sitzerland. This is my personal website. The content is full of ideas and experiences.
