extends ../base.pug

block variables
  - var slug = "projects"

block body 
  div(class="max-w-screen-xl mx-auto w-full relative px-8 xl:px-0")

    - var title = 'Projects'
    include ../shared/headline

  div(class="mt-9 md:mt-40 pb-20 md:pb-40 max-w-screen-xl mx-auto w-full relative px-5 xl:px-0")
    div(class="flex flex-col w-full")
      div(class="flex flex-col sm:flex-row justify-between max-w-3xl w-full")
        h1(class="font-serif text-3xl md:text-4xl lg:text-5xl text-red")
          a(href="#") air-haustechnik.ch
        div(class="sm:w-48 flex text-sm md:text-base mt-4 sm:mt-0")
          div(class="text-grey sm:text-right")
            p Year
            p Function
          div(class="ml-4")
            p 2021
            p Webdesign, Webdevelopment
      div(class="flex flex-col-reverse lg:flex-row justify-between mt-4 sm:mt-8")
        div(class="max-w-3xl w-full mt-8 sm:mt-0")
          div(class="aspect-w-5 aspect-h-3 sm:aspect-h-2")
            img(src="/assets/project-1.jpg" alt="project air-haustechnik" class="object-top object-cover")
        div(class="max-w-lg lg:max-w-2-col w-full xl:text-lg lg:px-8 xl:px-0")
          p Hi, I’m Ricky. A self thought engineer from switzerland. This is my personal Website. Content is full of ideas, thoughts and experiences. Hi, I’m Ricky. A self thought engineer from switzerland


      div(class="flex flex-col sm:flex-row justify-between max-w-3xl w-full mt-20 sm:mt-32")
        h1(class="font-serif text-3xl md:text-4xl lg:text-5xl text-red")
          a(href="#") air-haustechnik.ch
        div(class="sm:w-48 flex text-sm md:text-base mt-4 sm:mt-0")
          div(class="text-grey sm:text-right")
            p Year
            p Function
          div(class="ml-4")
            p 2021
            p Webdesign, Webdevelopment
      div(class="flex flex-col-reverse lg:flex-row justify-between mt-4 sm:mt-8")
        div(class="max-w-3xl w-full mt-8 sm:mt-0")
          div(class="aspect-w-5 aspect-h-3 sm:aspect-h-2")
            img(src="/assets/project-1.jpg" alt="project air-haustechnik" class="object-top object-cover")
        div(class="max-w-lg lg:max-w-2-col w-full xl:text-lg lg:px-8 xl:px-0")
          p Hi, I’m Ricky. A self thought engineer from switzerland. This is my personal Website. Content is full of ideas, thoughts and experiences. Hi, I’m Ricky. A self thought engineer from switzerland


  include ../shared/footer
