extends ../base.pug

block variables
  - var slug = "recommended"

block body 
  div(class="max-w-screen-xl mx-auto w-full relative px-8 xl:px-0")

    - var title = 'Recommended'
    include ../shared/headline

  div(class="max-w-text mx-auto w-full my-20 lg:my-52 px-8 xl:px-0")
    div(class="xs:ml-8 sm:ml-16 md:ml-24 lg:ml-0")
      div(class="flex flex-col md:flex-row")
        div(class="font-bold text-2xl hidden md:block")
          p 1
        div(class="md:ml-36")
          h2(class="font-serif text-4xl lg:text-5xl mb-6 lg:mb-12") Books
          div(class="rec--list")
            ul(class="rec--books text-xl lg:text-2xl")
              li
                p(class="underline pl-4") Sidartha - Hermann Hesse
              li
                p(class="underline pl-4") 12 Rules of life - by Jordan Peterson
              li
                p(class="underline pl-4") Eine kurze Geschichte der Menschheit - by Yuval Noah Harari
              li
                p(class="underline pl-4") The Subtle Art of Not Giving a F*ck - by Mark Manson
              li
                p(class="underline pl-4") Die Zwangsjacke - by Jack London

      div(class="mt-20 lg:mt-32 xl:mt-48 flex flex-col md:flex-row")
        div(class="font-bold text-2xl hidden md:block")
          p 2
        div(class="md:ml-36")
          h2(class="font-serif text-4xl lg:text-5xl mb-6 lg:mb-12") Tools
          div(class="rec--list")
            ul(class="rec--tools text-xl lg:text-2xl")
              li
                p(class="underline pl-4") Alfred - Mac OS
              li
                p(class="underline pl-4") Figma - Interface design tool
              li
                p(class="underline pl-4") Adobe tools
              li
                p(class="underline pl-4") LittleSnitch - Networking Tool
              li
                p(class="underline pl-4") Ticktick - Todo app
              li
                p(class="underline pl-4") nvim - Editor
              li
                p(class="underline pl-4") postman - api testing

      div(class="mt-20 lg:mt-32 xl:mt-48 flex flex-col md:flex-row")
        div(class="font-bold text-2xl hidden md:block")
          p 3
        div(class="md:ml-36")
          h2(class="font-serif text-4xl lg:text-5xl mb-6 lg:mb-12") Movies
          div(class="rec--list")
            ul(class="rec--movies text-xl lg:text-2xl")
              li
                p(class="underline pl-4") Blow
              li
                p(class="underline pl-4") Constantine
              li
                p(class="underline pl-4") Scarface
              li
                p(class="underline pl-4") all Guy Ritchie movies
              li
                p(class="underline pl-4") all Quentin Tarantino movies

      div(class="mt-20 lg:mt-32 xl:mt-48 flex flex-col md:flex-row")
        div(class="font-bold text-2xl hidden md:block")
          p 4
        div(class="md:ml-36")
          h2(class="font-serif text-4xl lg:text-5xl mb-6 lg:mb-12") Series
          div(class="rec--list")
            ul(class="rec--series text-xl lg:text-2xl")
              li
                p(class="underline pl-4") Breaking bad
              li
                p(class="underline pl-4") Rick and Morty
              li
                p(class="underline pl-4") Archer
              li
                p(class="underline pl-4") Arcane
              li
                p(class="underline pl-4") Brooklin 99
              li
                p(class="underline pl-4") Community College
              li
                p(class="underline pl-4") Californication
              li
                p(class="underline pl-4") Scrubs
              li
                p(class="underline pl-4") Peaky blinders

      div(class="mt-20 lg:mt-32 xl:mt-48 flex flex-col md:flex-row")
        div(class="font-bold text-2xl hidden md:block")
          p 5
        div(class="md:ml-36")
          h2(class="font-serif text-4xl lg:text-5xl mb-6 lg:mb-12") games
          div(class="rec--list")
            ul(class="rec--games text-xl lg:text-2xl")
              li
                p(class="underline pl-4") Witcher
              li
                p(class="underline pl-4") Dark Souls
              li
                p(class="underline pl-4") God of War
              li
                p(class="underline pl-4") Call of duty
              li
                p(class="underline pl-4") FIFA
              li
                p(class="underline pl-4") Skyrim
              li
                p(class="underline pl-4") Hitman
              li
                p(class="underline pl-4") GTA
              li
                p(class="underline pl-4") Fallout 3 and new vegas

  include ../shared/footer
